<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="CaerusSoft.Jernigan.JerniganManager.JerniganManager">
        <endpoint address="net.pipe://localhost/Jernigan/JerniganManager" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IJerniganManager" />
      </service>
      <service name="CaerusSoft.Jernigan.JerniganManager.JerniganManager_Emulator">
        <endpoint address="net.pipe://localhost/Jernigan/JerniganManager_Emulator" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IJerniganManager_Emulator" />
      </service>
      <service name="CaerusSoft.Jernigan.JerniganManager.JerniganManager_RealImpl">
        <endpoint address="net.pipe://localhost/Jernigan/JerniganManager_RealImpl" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IJerniganManager_RealImpl" />
      </service>
      <service name="CaerusSoft.Jernigan.JerniganResourceAccess.JerniganResourceAccess">
        <endpoint address="net.pipe://localhost/Jernigan/JerniganResourceAccess" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IJerniganResourceAccess" />
      </service>
      <service name="CaerusSoft.Jernigan.JerniganResourceAccess.JerniganResourceAccess_Emulator">
        <endpoint address="net.pipe://localhost/Jernigan/JerniganResourceAccess_Emulator" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IJerniganResourceAccess_Emulator" />
      </service>
      <service name="CaerusSoft.Jernigan.JerniganResourceAccess.JerniganResourceAccess_RealImpl">
        <endpoint address="net.pipe://localhost/Jernigan/JerniganResourceAccess_RealImpl" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IJerniganResourceAccess_RealImpl" />
      </service>
      <service name="CaerusSoft.Jernigan.AccountManager.AccountManager">
        <endpoint address="net.pipe://localhost/Jernigan/AccountManager" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IAccountManager" />
      </service>
      <service name="CaerusSoft.Jernigan.AccountManager.AccountManager_Emulator">
        <endpoint address="net.pipe://localhost/Jernigan/AccountManager_Emulator" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IAccountManager_Emulator" />
      </service>
      <service name="CaerusSoft.Jernigan.AccountManager.AccountManager_RealImpl">
        <endpoint address="net.pipe://localhost/Jernigan/AccountManager_RealImpl" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IAccountManager_RealImpl" />
      </service>
      <service name="CaerusSoft.Jernigan.AccountResourceAccess.AccountResourceAccess">
        <endpoint address="net.pipe://localhost/Jernigan/AccountResourceAccess" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IAccountResourceAccess" />
      </service>
      <service name="CaerusSoft.Jernigan.AccountResourceAccess.AccountResourceAccess_Emulator">
        <endpoint address="net.pipe://localhost/Jernigan/AccountResourceAccess_Emulator" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IAccountResourceAccess_Emulator" />
      </service>
      <service name="CaerusSoft.Jernigan.AccountResourceAccess.AccountResourceAccess_RealImpl">
        <endpoint address="net.pipe://localhost/Jernigan/AccountResourceAccess_RealImpl" binding="netNamedPipeBinding" contract="CaerusSoft.Jernigan.Contracts.IAccountResourceAccess_RealImpl" />
      </service>
    </services>
  </system.serviceModel>
</configuration>