<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.1" targetFramework="net461" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net461" />
  <package id="IronPython" version="2.7.8.1" targetFramework="net461" />
  <package id="IronPython.StdLib" version="2.7.8.1" targetFramework="net461" />
</packages>